body{
    text-align: center;
}
h1{
    font-size: 40px;
}
#app{
    background-color:rgb(3, 116, 116);
}
#juegos{
    background-color: rgb(36, 124, 158);
}
#chatbot{
    background-color:rgb(37, 218, 142);
}